main
cruc
src/probe
src/program
*.cru
*.asm
*.s
*.S
*.bin
*.out
*.o
src/run.sh

Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
configure~
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/cruc-debug-build
src/include/config.h
src/include/stamp-h1
